main{
    display: flex;
    height: 88vh;
    background-image: linear-gradient(0deg, #000000 9%, #414141 74%);
    align-items: center;


    .container{
        box-shadow: 0px 0px 1px 2px $FrenchGray;
        padding: 0;
        border-radius: 5px;
        background-color: $jumbo;

        nav{
            border-radius: inherit;
            background-color: $jumbo;
            @include py(10px);
            padding-top: 10px;
            .input-group {
                display: flex;
                justify-content: center;

                label,select,button{
                    border: 2px solid $tuna;
                    background-image: linear-gradient(0deg, #000000 -22%, #414141 58%);
                    color: $edward;
                }
                button{
                    padding: 5px;
                }
            }
        }

        ol{
            overflow-y: auto;
            display: flex!important;
            justify-content: center;
            flex-wrap: wrap;
            height: 70vh;
            margin:0;
            border-radius: inherit;
            padding-top: 20px;
            @include px(20px);
            list-style: none;
            background-color: $jumbo;

            li{
                max-width: max-content;
                width: min-content;
                display: flex;
                padding: 10px;

                .card{
                    background-image: linear-gradient(0deg, #000000 -22%, #414141 58%);
                    box-shadow: 0px 2px 5px 2px $tuna;
                    max-height: 400px;

                    .card-img-top,.card-body{
                        border: 1px solid $regentGray;
                    }

                    .card-img-top{
                        padding: 0.3rem;
                        width: 200px;
                        min-height: 200px;
                    }

                    .card-body{
                        padding: 1rem;
                        color: $edward;
                        font-weight: bold;
                        border: 1px solid $regentGray;
                        .card-title {
                            height: 80px;
                        }
                    }

                }
            }
        }
    }
}
